.nav{
    padding: 10px 0;
    img{
        width: 48px;
    }
    h2{
        font-size: 12px;
        font-weight: normal;
        margin-top: 7px;
    }
    
}

.am-flexbox-item{
    text-align: center;
}
.swiper{
    height: 212px;
}